# Environment variables
.env
backend/.env
client/.env

# Firebase credentials
#backend/rag-based-chatbot-d1810-firebase-adminsdk-fbsvc-7c54b5a16e.json
**/firebaseServiceAccountKey.json

# Node modules
node_modules/
backend/node_modules/
client/node_modules/

# Build outputs
client/build/
dist/
